BHF_PORT=8080
BHF_BASE_URL=http://host.docker.internal:11434/v1
BHF_MODEL=qwen2.5:7b
BHF_PROFILE=standard
BHF_ANSWER_MODE=study
BHF_TEMPERATURE=0.3
BHF_MAX_TOKENS=2048
BHF_SHOW_METHOD_NOTES=true
BHF_MEMORY_ENABLED=false

